$defaultFont: Arial, sans-serif;

$backgroundColor: #f2f2f2;
$primaryColor: #5a5255;
$secondaryColor: #1b85b8;
$otherColors: #559e83, #ae5a41, #c3cb71;

$darkenPrimaryColor: darken($primaryColor, 20%);