@import '../variables';

.container {
  @at-root #{&}--padded {
    padding: 2rem;
  }

  @at-root #{&}--padded-top-bottom {
    padding: 2rem 0;
  }

  @at-root #{&}--no-right-pad {
    padding-right: 0;
  }

  @at-root #{&}--footer {
    background: $secondaryColor;
    color: white;
    display: block;
    width: 100%;
    @at-root #{&}__inner {
      margin: 0 auto;
      max-width: calc(1000px - 4rem);
      width: 100%;
    }
  }
}