@import '../variables';


p {
  font-size: 1rem;
  line-height: 2rem;
  margin: 1rem 0;
}

.paragraph {
  font-size: 1rem;
  line-height: 2rem;

  @at-root #{&}--marginTop {
    margin-top: $paragraphMargin;
  }

  @at-root #{&}--marginBottom {
    margin-bottom: $paragraphMargin;
  }
}